body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
    overflow: hidden; /* Hide scrollbars */
}

canvas {
    position: relative; /* Fix the canvas to the background */
    width: auto;
    height: auto;
    z-index: 1; /* Send the canvas behind other content */
}

.content {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%; /* Adjust width as needed */
    height: 100%; /* Allow height to be determined by content */
    margin: 20px;
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    color: rgb(1,1,1);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.project-description {
    margin: 0;
    padding: 0;
}

    .project-description h2 {
        margin-top: 0;
    }

    .project-description ul {
        padding-left: 20px;
    }
