<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natalie's CS Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="scripts.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <canvas id="glcanvas"></canvas>
    <header>
        <h1><a href="index.html">Natalie's CS Portfolio</a></h1>
    </header>
    <main>
        <section class="projects">
            <div class="project" id="webgl">
                <img src="projects/webGL/animation/snapshot.png" alt="WebGL Project">
                <h2><a href="projects/webGL/animation/main.html">WebGL</a></h2>
            </div>
            <div class="project" id="opengl">
                <img src="projects/opengl.jpg" alt="OpenGL Project">
                <h2><a href="projects/opengl.html">OpenGL</a></h2>
            </div>
            <div class="project" id="vulkan">
                <img src="projects/vulkan.jpg" alt="Vulkan Project">
                <h2><a href="projects/vulkan.html">Vulkan</a></h2>
            </div>
            <div class="project" id="glsl">
                <img src="projects/glsl.jpg" alt="GLSL Project">
                <h2><a href="projects/glsl.html">GLSL</a></h2>
            </div>
            <div class="project" id="Raytracer">
                <img src="projects/Raytracer/snapshot.png" alt="Raytracer Project">
                <h2><a href="projects/Raytracer.html">Raytracer</a></h2>
            </div>
        </section>
    </main>

    <script id="vertex-shader" type="x-shader/x-vertex">#version 300 es
             
               in vec4 a_position;

               out vec3 pos;
               void main() {
                   pos = a_position.xyz;
                   gl_Position = a_position;
               }
    </script>
    <script id="fragment-shader" type="x-shader/x-fragment">#version 300 es
        precision mediump float;
        uniform vec2 u_resolution;
        uniform float u_time;

        in vec3 pos;

        out vec4 outColor;

        float waveNoise(vec2 position, float time) {
            float distance = length(position - 0.5);
            return sin(distance * 20.0 - time) * 0.5 +0.5;
            //return sin(position.x * 10.0 + time) * cos(position.y * 10.0 + time);
        }

        void main() {
            vec2 st = gl_FragCoord.xy / u_resolution;
            st.x *= u_resolution.x / u_resolution.y;
            

        

            float wave = waveNoise(st, u_time);

            

            

            outColor = vec4(wave, wave, wave, 1.0);
           
        }
    </script>
    <script src="scripts.js"></script>
</body>
</html>



