<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natalie's CS Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="scripts.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <canvas id="glcanvas"></canvas>
    <header>
        <h1><a href="index.html">Natalie's CS Portfolio</a></h1>
    </header>
    <main>
        <section class="projects">
            <div class="project" id="webgl">
                <!--<iframe src="projects/webGL/animation/main.html" frameborder="0"></iframe>-->
                <img src="projects/webGL/animation/snapshot.png" alt="WebGL Project">
                <h2><a href="projects/webGL/animation/main.html">WebGL</a></h2>
            </div>
            <div class="project" id="opengl">
                <img src="projects/opengl.jpg" alt="OpenGL Project">
                <h2><a href="projects/opengl.html">OpenGL</a></h2>
            </div>
            <div class="project" id="vulkan">
                <img src="projects/vulkan.jpg" alt="Vulkan Project">
                <h2><a href="projects/vulkan.html">Vulkan</a></h2>
            </div>
            <div class="project" id="glsl">
                <img src="projects/glsl.jpg" alt="GLSL Project">
                <h2><a href="projects/glsl.html">GLSL</a></h2>
            </div>
            <div class="project" id="Raytracer">
                <img src="projects/Raytracer/snapshot.png" alt="Raytracer Project">
                <h2><a href="projects/Raytracer.html">Raytracer</a></h2>
            </div>
        </section>
    </main>
    <script src="scripts.js"></script>
    <script id="vertex-shader" type="x-shader/x-vertex">
        attribute vec4 a_position;
        void main() {
            gl_Position = a_position;
        }
    </script>
    <script id="fragment-shader" type="x-shader/x-fragment">
        precision mediump float;
        uniform vec2 u_resolution;
        uniform float u_time;

        void main() {
            vec2 st = gl_FragCoord.xy / u_resolution;
            vec3 color = vec3(0.0);

            // Simple color change over time using sine function
            color = vec3(sin(u_time * 0.1), cos(u_time * 0.2), sin(u_time * 0.3));

            //gl_FragColor = vec4(color, 1.0);
            gl_FragColor = vec4(0.5, 0.2, 0.1, 1.0);
        }
    </script>

</body>
</html>



